html, body{
  min-height: 100%;
  height: 100%;
}

.fill{
  height: calc(100vh - 100px);
}

body {
  padding-top: 60px; /* space for the top nav bar */
  margin-right: 30px;
}

#userHubs {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 150px);
}

#forgeViewer {
  width: 100%;
}

.createQualityIssues {
  background-image: url(https://github.com/encharm/Font-Awesome-SVG-PNG/raw/master/white/png/24/pencil.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.loadQualityIssues {
  background-image: url(https://github.com/encharm/Font-Awesome-SVG-PNG/raw/master/white/png/24/exclamation-triangle.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.bim360-docking-panel {
  top: 10px;
  left: 10px;
}

.bim360-asset-list-panel {
  background: rgba(34,34,34,.9) !important;
  max-height: 750px;
  max-width: 200px;
  width: 750px;
  height: 200px;
}

.bim360-asset-list-panel .docking-panel-footer {
  z-index: 1;
}

.bim360-asset-list-panel .docking-panel-footer-resizer {
  display: none;
}

/* .bim360-asset-list-panel .datatable {
  //width: 500px;
  height: 150px; 
  min-width: 700px;
  min-height: 150px;
} */
.bim360-asset-list-panel .datatable .clusterize-content th:nth-child(2) {
  /* min-width: 395px !important; */
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bim360-asset-list-panel .datatable .clusterize-content td:nth-child(1) {
  min-width: 65px;
}
.bim360-asset-list-panel .datatable .clusterize-content td:nth-child(2),
  .bim360-asset-list-panel .datatable .clusterize-content td:nth-child(3) {
  /* min-width: 61px; */
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .bim360-asset-list-panel .datatable .clusterize-content td:nth-child(3) {
  min-width: 297px;
} */
.bim360-asset-list-panel .datatable .clusterize-content td:nth-child(4) {
  min-width: 92px;
}
.bim360-asset-list-panel .datatable .clusterize-content td:nth-child(5) {
  min-width: 43px;
}

/* .bim360-asset-list-panel .datatable .clusterize-headers #headersArea tr {
  background-color: rgba(34,34,34,.9);
} */

/* .bim360-asset-list-panel .datatable .table-striped > tbody > tr {
  background-color: #4a4747 !important;
} */

.bim360-asset-list-panel .datatable .table-striped>tbody>tr:nth-child(odd)>td, .adsk-viewing-viewer .datatable .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: transparent;
}

.bim360-asset-list-panel .datatable .table-striped tr:hover:not(.active) {
  background: rgba(0,0,0,.4)!important;
}

.bim360-asset-list-panel .datatable .table-striped tr.active {
  background-color: #4a4747;
}

.bim360-asset-list-panel .datatable .clusterize-scroll {
  max-height: 110px;
}

.bim360-space-filter-panel {
  max-width: 315px;
  max-height: 280px;
  width: 315px;
  height: 280px;
  left: 10px;
  top: 225px;
}

.bim360-space-filter-panel .docking-panel-footer {
  z-index: 1;
}

/* .bim360-space-filter-panel .docking-panel-footer-resizer {
  display: none;
} */

/* omit tr color from bootstrap */
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: transparent;
}

.docking-panel-pagination {
  display: inline-block;
}

.docking-panel-pagination a {
  color: #6c757d;
  float: left;
  padding: 1px 8px;
  padding-top: 0;
  text-decoration: none;
  transition: background-color .3s;
}

.docking-panel-pagination a.active {
  background-color: #4a4747;
  color: white;
  border: 1px solid #4a4747;
}

.docking-panel-pagination a:hover:not(.active) {
  background-color: #ddd;
}

.docking-panel-pagination a.disabled {
  color: black;
  pointer-events: none;
  cursor: auto;
}

.glyphicon-bim360-icon {
  font-size: 22px !important;
}